  
  <button onclick="topFunction()" id="sb" title="Scroll to Top Page">
    <i class="fas fa-arrow-up"></i>
  </button>
  
  <!-- Footer -->
  <footer class="bg-light py-5">
      <div class="container">
          <div class="small text-center text-muted">Copyright &copy; 2019 - 2024 | Leeuw TK Portfolio</div>
      </div>
  </footer>

   <!-- Temp Code -->
   <script>
    sb = document.getElementById("sb"); //find button
    window.onscroll = function() {scrollFunction()}; //show button
    
    function scrollFunction() 
    {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) 
        {
            sb.style.display = "block";
        } 
        else 
        {
            sb.style.display = "none";
        }
    }

    // Scroll back
    function topFunction() 
    {
        document.documentElement.scrollTop = 0; //Compatability: Chrome, Firefox and IE
        document.body.scrollTop = 0; // Compatabilty: IOS (Safari)
    }
    </script>
    <!-- Temp Code -->


 <!-- Bootstrap core JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <!-- Plugin JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
 <!-- Custom scripts for this template -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/js/creative.js"></script>
  </body>
</html>
