<% include ../partials/header %>

<legend id="brilliant-legends">Developer: Tyson Leeuw</legend>
<legend id="brilliant-legends">Project(s): The Developers Hub, The Article Hub, Property Assist</legend>
<div class="row">
    <div class="col-md-4">
        
        <div class="thumbnail animated rollIn">
            <img src="../../public/img/about/IMG-20190419-WA0108.jpg">
            <div class="caption">
                <a href="https://drive.google.com/file/d/1LEURPcj81k45RDTpww5Ezz6TSBNcHryo/view?usp=sharing">Curriculm Vitae</a>
            </div>
            <div class="caption">
                <a href="https://www.linkedin.com/in/tyson-kopano-leeuw-6b764bb2/">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Welcome to my Web Development Project. This website has been explicitly built through existing and new technologies, 
                    which include:
                    
                    <li>Front-End: HTML 5, CSS 3, Bootstrap v3 and Font Awesome</li>
                    <li>Back-End: Mongoose and MongoDB, Passport.js (authentication), Express and EJS, JavaScript and JQuery, nodemailer and Google Services (password resets)</li>
                    <li>IDEs: Cloud9 and Visual Studio Code</li>
                    
                    <p>
                        <h3>User/Guest Roles:</h3>
                        Users/guests are able to view and navigate to the website’s Home, Gallery, About Me and
                        Contact Me pages. However, if a user wants to add/leave behind comments 
                        on a selected image/project then they would have to login first or subscribe/sign up. Once sigend in, users
                        are also able to edit and delete their own comments.
                    </p>
                    
                    <p>
                       <h3>Administrator Roles:</h3> 
                       Admins can sign up via the secret route provided by the developer and having a unique Admin Code, which will assign all 
                       necessary authorization. Admins are able to add projects and comments. This also includes editing and deleting of all 
                       Customer Comments and Projects loaded by other Admins and Users. 
                    </p>
                    
                    <p>
                       Furthermore, the website is designed with a RESTful architecture and is also very responsive to all types of devices, 
                       which gives it a consistent look and feel. Scripts are rendered with CDNs, which help keep the website updated with any 
                       new features/versions. 
                    </p>
                </p>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <h3>Ongoing and Upcoming Features:</h3>
                    <ul>Google Maps API</ul>
                    <ul>Contact Us: Further use of nodemailer with G-Mail Services</ul>
                    <ul>Customer Feedback Activity: Live Chats</ul>
            </div>
            <div class="col-md-4 thumbnail animated zoomIn">
                <img src="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?ixlib=rb-0.3.5&s=c0b21857d4eb19989d2e0d543894ac6e&auto=format&fit=crop&w=1226&q=80">
            </div>
        </div>
    </div>  
</div>
<% include ../partials/footer %>