        <% include ../partials/header %>
        <div class="row">
            <div class="col-md-4">

                <div class="thumbnail animated zoomIn">
                    <img src="../../public/img/about/IMG-20190419-WA0108.jpg">
                    <div class="caption">
                        <a href="https://drive.google.com/file/d/1LEURPcj81k45RDTpww5Ezz6TSBNcHryo/view?usp=sharing">Curriculm Vitae</a>
                    </div>
                    <div class="caption">
                        <a href="https://www.linkedin.com/in/tyson-kopano-leeuw-6b764bb2/">LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Welcome to my Web Development Project. This website has been explicitly built through existing and new technologies,
                            which include:

                            <li>Front-End: HTML 5, CSS 3, Bootstrap v3 and Font Awesome</li>
                            <li>Back-End: MongoDB and Mongoose, passport.js (authentication), JavaScript and JQuery Ajax, and more</li>
                            <li>IDE: Visual Studio Code</li>

                            <hr />

                            <h4>My Ongoing and Future Projects</h4>
                        <p>
                            <h3>Project (1): The Developers Hub</h3>
                            Users/guests are able to view and navigate to the website’s Home, Gallery, About Me and
                            Contact Me pages. However, if a user wants to add/leave behind comments
                            on a selected image/project then they would have to login first or subscribe/sign up. Once sigend in, users
                            are also able to edit and delete their own comments.

                            Admins can sign up via the secret route provided by the developer and having a unique Admin Code, which will assign all
                            necessary authorization. Admins are able to add projects and comments. This also includes editing and deleting of all
                            User Comments and Projects loaded by other Admins.

                            Furthermore, the website is designed with a RESTful architecture and is also very responsive to all types of devices,
                            which gives it a consistent look and feel. Scripts are rendered with CDNs, which help keep the website updated with any
                            new features/versions.
                        </p>

                        <p>
                            <h3>Project (2): The Article Hub - COMING SOON</h3>
                            Guests are only able to view and navigate to the website’s Home, About and Contact Page. Once interested, user can
                            register as Researcher and start adding Articles to their reading list. Researchers are also able to view the Read-only
                            list of Articles.

                            If a Researcher wants to add their own Article, it has to be first approved by a Registered Editor and then Published/Uploaded by
                            the System Administrator. Added features include:

                            - The number of Readers per Article
                            - Easy search of an Article using typeahead.bundle.js
                            - Presentable and easy view of the list of Articles in a bootbox.js view
                        </p>

                    </div>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Ongoing and Upcoming Projects:</h3>
                        <ul>Project (3): Math World</ul>
                        <ul>Project (4): Property Assist</ul>
                    </div>
                    <div class="col-md-4 thumbnail animated zoomIn">
                        <img src="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?ixlib=rb-0.3.5&s=c0b21857d4eb19989d2e0d543894ac6e&auto=format&fit=crop&w=1226&q=80">
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>