<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="thumbnail animated zoomIn img-fluid z-depth-2 rounded" src="https://rush.house.gov/sites/rush.house.gov/files/wysiwyg_uploaded/Contact-Me.jpg">
        </div>
        <div class="col-md-6">
            <legend>Contact Me</legend>
            <div class="well">
                <p>
                    Cell: 081 755 6381 <br>
                    Email: tk16leeuw@gmail.com
                </p>
            </div>
            <div class="well">
                <div>
                    <span>
                        <span></span>
                    </span>
                    <h4>Alternatively, please provide your details</h4>
                </div>
                <div>
                    <h5>
                        I Will Definately Contact You Soon
                    </h5>
                </div>
                <div>
                    <form class="block mbr-form" action="#" method="post" data-form-title="ContactMe Form">
                        <input type="hidden" name="email" data-form-email="true">
                        <div class="row">
                            <div class="col-md-6 multi-horizontal" data-for="name">
                                <input type="text" class="form-control input" name="name" placeholder="Your Name" required="">
                                <hr>
                            </div>
                            <div class="col-md-6 multi-horizontal" data-for="phone">
                                <input type="text" class="form-control input" name="phone" placeholder="Phone" required="">
                                <hr>
                            </div>
                            <div class="col-md-12" data-for="email">
                                <input type="email" class="form-control input" name="email" placeholder="Email" required="">
                                <hr>
                            </div>
                            <div class="col-md-12" data-for="message">
                                <textarea class="form-control input" name="message" rows="4" placeholder="Message"></textarea>
                            </div>
                            <div class="input-group-btn col-md-12">
                                <button href="#" type="submit" class="btn btn-primary">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>