<% include ../partials/header %>

<legend id="brilliant-legends">Developers and their Skills - (COMING SOON)</legend>
<!--Developers-->
<div class="col-md-4">
    <div class="thumbnail animated zoomIn">
      <img class="img-fluid z-depth-2 rounded" src="">
      <div class="caption-full">
          <a href="/contact"><h4 class="pull-right">Collaborate</h4></a>
          <h4>Developer Name</h4>
          <p>...CV link</p>
          
          <summary>Skills</summary>
          <ul>
            <li>Entity Framework</li>
            <li>JQuery Ajax</li>
            <li>JavaScript</li>
            <li>Web APIs</li>
            <li>JSON</li>
          </ul>
      </div>
  </div>
</div>
<div class="col-md-4">
    <div class="thumbnail animated zoomIn">
      <img class="img-fluid z-depth-2 rounded" src="">
      <div class="caption-full">
          <a href="/contact"><h4 class="pull-right">Collaborate</h4></a>
          <h4>Developer Name</h4>
          <p>...CV link</p>
          
          <summary>Skills</summary>
          <ul>
            <li>Entity Framework</li>
            <li>JQuery Ajax</li>
            <li>JavaScript</li>
            <li>Web APIs</li>
            <li>JSON</li>
          </ul>
      </div>
  </div>
</div>
<div class="col-md-4">
    <div class="thumbnail animated zoomIn">
      <img class="img-fluid z-depth-2 rounded" src="">
      <div class="caption-full">
          <a href="/contact"><h4 class="pull-right">Collaborate</h4></a>
          <h4>Developer Name</h4>
          <p>...CV link</p>
          
          <summary>Skills</summary>
          <ul>
            <li>Entity Framework</li>
            <li>JQuery Ajax</li>
            <li>JavaScript</li>
            <li>Web APIs</li>
            <li>JSON</li>
          </ul>
      </div>
  </div>
</div>
<!--Developers-->

<!--Developers-->
<div class="col-md-4">
    <div class="thumbnail animated zoomIn">
      <img class="img-fluid z-depth-2 rounded" src="">
      <div class="caption-full">
          <a href="/contact"><h4 class="pull-right">Collaborate</h4></a>
          <h4>Developer Name</h4>
          <p>...CV link</p>
          
          <summary>Skills</summary>
          <ul>
            <li>Entity Framework</li>
            <li>JQuery Ajax</li>
            <li>JavaScript</li>
            <li>Web APIs</li>
            <li>JSON</li>
          </ul>
      </div>
  </div>
</div>
<div class="col-md-4">
    <div class="thumbnail animated zoomIn">
      <img class="img-fluid z-depth-2 rounded" src="">
      <div class="caption-full">
          <a href="/contact"><h4 class="pull-right">Collaborate</h4></a>
          <h4>Developer Name</h4>
          <p>...CV link</p>
          
          <summary>Skills</summary>
          <ul>
            <li>Entity Framework</li>
            <li>JQuery Ajax</li>
            <li>JavaScript</li>
            <li>Web APIs</li>
            <li>JSON</li>
          </ul>
      </div>
  </div>
</div>
<div class="col-md-4">
    <div class="thumbnail animated zoomIn">
      <img class="img-fluid z-depth-2 rounded" src="">
      <div class="caption-full">
          <a href="/contact"><h4 class="pull-right">Collaborate</h4></a>
          <h4>Developer Name</h4>
          <p>...CV link</p>
          
          <summary>Skills</summary>
          <ul>
            <li>Entity Framework</li>
            <li>JQuery Ajax</li>
            <li>JavaScript</li>
            <li>Web APIs</li>
            <li>JSON</li>
          </ul>
      </div>
  </div>
</div>
<!--Developers-->

<hr>
<a href="/devprojects">Go Back</a>

<% include ../partials/footer %>
